/**
 * @name LunaBlur
 * @author Powerm1nt
 * @description A beautiful cleek & glass theme for your discord.
 * @version 0.0.1
 * @invite https://discord.gg/yZE6TQfFsY
 * @authorId 967171856073392219
 * @authorLink https://github.com/Powerm1nt
 * @source https://gist.github.com/rauenzi/e5f4d02fc3085a53872b0236cd6f8225
 */


/* User Variables */
:root {
  --app-bg: url(https://i.imgur.com/5GWDr5Q.jpeg);
  --background-primary: rgba(0, 0, 0, 0.3);
  --background-secondary: rgba(15, 19, 20, 0.3);
  --background-tertiary: rgba(15, 19, 20, 0.4);
}

/* Override Application Background */
.appMount-2yBXZl {
  background: var(--app-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Override Message TextField Styling */
.scrollableContainer-15eg7h {
  background-color: transparent;
}

/* Override Emoji Autocomplete Styling */
.autocomplete-3NRXG8 {
  border-radius: 10px;
}

.app-2CXKsg, .bg-1QIAus {
  background: transparent !important;
}

.app-2CXKsg {
  padding: 1em !important;
  gap: 1em;
}

.autocomplete-3NRXG8 {
  border-radius: 20px;
}

.wrapper-1_HaEi, 
.sidebar-1tnWFu, 
.chat-2ZfjoI, 
.container-2cd8Mz {
  border-radius: 15px !important;
}

.container-1eFtFS, .content-1SgpWY {
  gap: 0.6em;
}

.container-ZMc96U.themed-Hp1KC_ {
  background: var(--background-secondary);
}

.theme-dark {
    --background-secondary: rgba(15, 19, 20, 0.3);
}

.form-3gdLxP:before {
  background: transparent !important;
}